
:root {
    --blueColor: rgb(88,105,168);
  }


.ShopCart{
    font-weight: 300 !important;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.TotalePrice{
color: var(--blueColor);
font-weight: 400 !important;
text-transform: capitalize;


}

.iconRemove{
    color: var(--blueColor) !important;

}

.btnCout{
    border: 1px solid var(--blueColor);
    border-radius: 15%;
    padding: 0.3rem 0.7rem;
    color: var(--blueColor);
}

.btnCout:hover{
background-color: rgb(44, 105, 44);
color: white;
}